<h1><%= @cocktail.name %></h1>

<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "All cocktails", cocktails_path %>
<br>
<%= link_to "Edit cocktail", edit_cocktail_path(@cocktail) %>
<br>
<%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete %>




<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> : <%= dose.ingredient.name %>  </li>
  <% end %>
</ul>

<h2>Ajouter une dose</h2>
<%= simple_form_for([@cocktail,@dose]) do |f| %>
  <%= f.input :description %>
    <%= f.association :ingredient %>
  <%= f.submit "ajouter une dose" %>
<% end %>

